#!/usr/bin/env ruby

compile "/assets/css/*" do
  filter :sass, syntax: :scss
end

compile "/assets/js/*" do
end

compile "/static/*" do
end

compile 'CNAME' do
end

{ "/v1/*"      => "api",
  "/terms/*"   => "terms",
  "/changes/*" => "changes",
  "*"          => "default"
}.each do |path, default_layout|
  compile(path) do
    filter :erb
    filter :kramdown, toc_levels: [2]
    filter :colorize_syntax, colorizers: { javascript: :pygmentsrb }

    unless item[:layout] == false
      layout item[:layout] || default_layout
    end
  end
end

route '/feed' do
  '/changes.atom'
end

route "/assets/*" do
  path = item.identifier.chop[8..-1]
  type = path.split("/").first

  "/" + path + "." + type
end

route "/static/*" do
  item.identifier[7..-2]
end

route '/CNAME/' do
  '/CNAME'
end

route "*" do
  item.identifier + "index.html"
end

layout "*", :erb
