<%= render "head", active: "api", title_suffix: " | Dribbble API" %>

<section>
  <div class="container">
    <article>
      <%= yield %>
    </article>

    <%= render "sidebar" %>
  </div>
</section>

<script src="/js/application.js"></script>

<%= render "footer" %>
