<%= render "head" %>

<header>
  <div class="container">
    <h1><a href="/"><span>Dribbble </span>Developer</a></h1>

    <nav>
      <ul>
        <li><a href="/v1/">API</a></li>
        <li><a href="http://dribbble.com/contact?api">Support</a></li>
      </ul>
    </nav>
  </div>
</header>

<section>
  <div class="container">
    <article>
      <%= yield %>
    </article>
  </div>
</section>

<%= render "footer" %>
