<%= render "head" %>

<header>
  <div class="container">
    <h1>
      <a href="http://dribbble.com" id="logo">Dribbble</a>
      <span id="logo-meta"><a href="/">Developer</a></span>
    </h1>

    <nav>
      <ul>
        <li><a href="/v1/">API</a></li>
        <li><a href="http://dribbble.com/contact?api">Support</a></li>
      </ul>
    </nav>
  </div>
</header>

<section>
  <div class="container">
    <%= yield %>
  </div>
</section>

<%= render "footer" %>
