<footer>
  <div class="container">
    <p>Except where otherwise noted, content on this site is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons CC-BY license</a>. Based on <a href="https://github.com/github/developer.github.com">developer.github.com</a>.</p>

    <p>
      <a href="https://github.com/dribbble">Dribbble on GitHub</a> &#8212;
      <a href="http://twitter.com/dribbbleapi" class="twitter">Dribbble API on Twitter</a>
    </p>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="/js/application.js"></script>

</body>
</html>
