<aside id="sidebar">
  <nav>
    <ul>
      <li><a href="/v1/">Overview</a></li>
      <li><a href="/v1/buckets/">Buckets</a></li>
      <li>
        <a href="/v1/miscellaneous/">Miscellaneous</a>

        <ul>
          <li><a href="/v1/miscellaneous/rate_limit/">Rate Limit</a></li>
        </ul>
      </li>
      <li><a href="/v1/teams/">Teams</a></li>
      <li>
        <a href="/v1/users/">Users</a>

        <ul>
          <li><a href="/v1/users/followers/">Followers</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
